<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ims.main">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.createorder.orderfinalization.selectorder.SelectOrderActivity"
            android:label="@string/title_activity_select_finalize_order"></activity>
        <activity
            android:name=".ui.createorder.ManageOrdersActivity"
            android:label="@string/title_activity_create_order" />
        <activity
            android:name=".ui.createorder.createorder.selectapprovedinventory.SelectApprovalInventoryActivity"
            android:label="@string/title_activity_select_approved" />
        <activity
            android:name=".ui.createorder.createorder.selectsupplier.SelectSupplierActivity"
            android:label="@string/title_activity_select_supplier" />
        <activity
            android:name=".MainActivity"
            android:label="@string/welcome_screen_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>